<div class="cont1">
<h1 align="center"><img src="assets/images/IRONMAN.jpg" width="500px"></h1><br>
<p>Born to Howard and Maria Stark, the heads of the powerful business conglomerate Stark Industries, Tony Stark grew to be an imaginative and brilliant inventor. He worked side by side with his father from an early age, and surpassed his father's technical brilliance by the age of 16. After some poor business decisions, Tony's father retired from the business and left Tony in charge to do as he saw fit.

With Tony's brilliant tech ideas becoming the principal product of Stark Industries, the business boomed. Stark became the key supplier of hi-tech weaponry used to fight mutants across the planet. While the tech was not always successful, Stark was on the cutting edge of science. Stark was on the verge of a technological breakthrough when the Mutant-Human War came to an end. Stark had designed an armor suit that could possibly counter the strongest mutants on the planet. In the years since, those suits have been powered down to become part of a game called Robo Death Match -- a television sport with giant robots fighting each other. Tony and his father are avid competitors and are two of the best in the sport.

Recently, Stark Industries scored its biggest victory when it secured the Sentinel production contracts, pushing his major competitor, Jason Wyngarde, out of business. This contract was the largest in the world and will ensure the existence of Stark Industries for years to come. Magnus and Sebastian Shaw awarded Tony the contract under the condition that he hire Dr. Henry McCoy and Forge as observers. Tony agreed, and McCoy has been a key contributor along with Dr. Pym on The Vision Project.

Tony has been secretly working on a special project beneath Stark Industries -- a brand new suit of hi-tech armor he plans to use as his new Robo Death Match suit.
</p>
</div>
<h2>Movies</h2>
<div class="mov1">
    <div class="mov2" *ngFor="let movies of data">
        <div class="mov3"><img [src]="movies.cover"></div>
        <div class="mov4">{{movies.name}}</div>
    </div>
    </div>
