p{color:white}
h2{
    background-color: black;color:white;text-align: center;
}
.mov1{
    display:flex;
}
.mov3 img{
    width:200px;margin-right: 10px;transition: transform 1ms;
}
.mov3 img:hover{transform: scale(1.06);box-shadow: 2px 2px 6px black;}
.mov4{
    margin-left: 40px;margin-right: 10px;width:100px;text-align: center;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;height: 20px;
}